# DB Config
POSTGRES_SCHEME=postgres
POSTGRES_USER=deploy
POSTGRES_PASSWORD=deploy
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=splitter

# App Config
PORT=8000
MAX_WORKERS=2

# Nginx Config
DOMAIN=localhost

# RMQ Config
RABBITMQ_HOST=rabbitmq
RABBITMQ_USERNAME=splitter
RABBITMQ_PASSWORD=splitter

# Cerbot

USE_CERTBOT=false