aiofiles~=23.2.1
arrow~=1.2.3
aio-pika
loguru
python-dotenv~=1.0.0
tortoise-orm[asyncpg]==0.19.3
pydantic==1.10.12
aioapns

boto3
encodec
funcy
numpy
scipy
tokenizers
torch
tqdm
transformers
audiolm_pytorch
fairseq