aiofiles~=23.2.1
arrow~=1.2.3
aio-pika
loguru
python-dotenv~=1.0.0
tortoise-orm[asyncpg]==0.19.3
pydantic==1.10.12
aioapns

boto3
encodec
funcy
numpy==1.23.5
scipy==1.11.4
tokenizers==0.20.1
torch==2.1.2
tqdm==4.66.1
transformers==4.45.2
audiolm_pytorch
fairseq==0.12.2
torchaudio==2.1.2
encodec==0.1.1